body{
    margin-top: 50px;
    position: absolute;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    background-color: black;
}
.logo{
    width: 50px;
    position: fixed;
    top: 3%;
    left:3%;
}
/* games */
.content{
    color: antiquewhite;
    text-align: center;
}
.grid{
    background: url(menu/playbg.jpg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.img-wrapper{
    position: relative;
    overflow: hidden;
}
.img-wrapper{
    display: block;
    width: 90%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.img-wrapper > .content{
    position: absolute;
    inset: 0;
    font-size: 1rem;
    padding: 1rem;
    background: rgba(2, 13, 99, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrapper > img,
.img-wrapper > .content {
    transition: 300ms ease-in-out;
}
.img-wrapper:hover > img.gray {
    filter: grayscale(1);
}
/* zoom */
.img-wrapper:hover > img.zoom {
    transform: scale(1.1);
}

.img-wrapper > .content.fade{
    opacity: 0;
}
.img-wrapper:hover > .content.fade{
    opacity: 1;
}
/*  */
.img-wrapper > .content.slide-left{
    transform: translateX(-100%);
}
.img-wrapper:hover > .content.slide-left{
    transform: translatex(0);
}
/*  */
.img-wrapper > .content.slide-right{
    transform: translateX(100%);
}
.img-wrapper:hover > .content.slide-right{
    transform: translatex(0);
}
/*  */
.img-wrapper > .content.slide-up{
    transform: translateY(100%);
}
.img-wrapper:hover > .content.slide-up{
    transform: translateY(0);
}
/* play game button */
/* *********************************************************************** */
.container {
    position: absolute;
    width: 100%;
}

.container img {
width: 100%;
height: auto;
}

.container .btn {
display: inline-block;
position: absolute;
top: 50%;
left: 23%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #555;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}

.container .btn:hover {
background-color: black;
}
/*  2 */
.container .btn2 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    }
    
    .container .btn2:hover {
    background-color: black;
    }
    /* 3 */
    .container .btn3 {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 73%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        }
        
        .container .btn3:hover {
        background-color: black;
        }
/* bg music */
#playy{
    position: fixed;
    top:3%;
    left: 90%;
    width: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
/* responsive */
@media screen and (min-width: 1024px) {
    .nav-list li a {
        font-size: 1rem;
    }

    .main-container {
        grid-template-rows: 2fr 2fr 6fr;
    }

@media screen and (min-width: 768px){
    .box-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
}
